.borderButton {
    display: inline-block !important;
    padding: 10px 20px !important;
    color: #4b8ef1 !important;
    border: 1px solid #4b8ef1;
    text-transform: capitalize;
    font-size: 15px;
    display: inline-block;
    background-color: #fff;
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all .5s;
    z-index: 2;
    position: static;
    text-decoration: none
  }
  .borderButton:hover {
    background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
    color: #fff !important;
    transition: all 0.2s;
  }

  
.emm {
    font-style: normal;
    color: #4b8ef1;
  }
  