.pricingItemRegular:before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../../public/regular-table-top.png);
    z-index: -1;
    content: '';
    width: 274px;
    height: 221px;
  }
  
  .pricingItemRegular:after {
    position: absolute;
    bottom: -0;
    right: 0;
    background-image: url(../../../public/regular-table-bottom.png);
    z-index: -1;
    content: '';
    width: 370px;
    height: 171px;
  }
  .videoContentText{
    text-decoration: none;
    margin-bottom: 20px;
    font-size: large;
    color: black;
  }
  .footer {
    background-image: url(../../../public/footer-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    padding-top: 300px;
    padding-bottom: 60px;
  }
  .sectionHeading {
    line-height: 45px;
    color: #fff;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .search {
    margin-bottom: 80px;
  }
  
  .search  {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center
  }
  
  .search input{
    font-size: 15px;

    color: #000000;
    outline: none;
    height: 46px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  
  .searchButton {
    height: 46px;
    border-radius: 23px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: all .5s;
    width: 20%;

  }
  
  .searchButton:hover {
    background-color: #fff;
    color: #4b8ef1;
    width: 20%;
    border: 1px none #fff;

  }